@font-face{
  src:url(typos/Raleway-Regular.ttf);
  font-family: raleway;
  font-weight: normal;
}

a{
	text-decoration: none;
}

footer a:hover{
  color: #bf7b6b;
  transform: rotate(5deg);
}

footer{
	font-family: raleway;
  text-align: center;
  padding: 2% 0;
}

.monogramme-footer{
  width: 4%;

}

@media (max-width: 480px){

.monogramme-footer{ 
	width: 5%;
	height: auto;
 }
}